<p>
  https://developer.github.com/v4/guides/forming-calls/#authenticating-with-graphql
</p>


<h1 style='text-align: center'> Enter your Github token: </h1>


<div style="width: 90%">
  <mat-form-field class="token-form" >
    <input matInput placeholder="Github token" type="text" #gitToken [formControl]="gitTokenForm" required >
    <mat-error *ngIf="gitTokenForm.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div style="width:100%; text-align:center">
  <button button="submit" (click)='loadUsers(gitToken.value)' [disabled]='gitTokenForm.invalid' mat-raised-button color="primary">Load users</button>
</div>
